<div class="character-form-page">
    <h2>{{ isEdit ? 'Edit' : 'Create' }} Character</h2>

    <form [formGroup]="form" class="character-form-page__form">
        <div class="form-group">
            <label>Name:</label>
            <input formControlName="name" />
        </div>

        <div class="form-group">
            <label>Status:</label>
            <select formControlName="status">
                <option value="Alive">Alive</option>
                <option value="Dead">Dead</option>
                <option value="unknown">Unknown</option>
            </select>
        </div>

        <div class="form-group">
            <label>Species:</label>
            <input formControlName="species" />
        </div>

        <div class="form-group">
            <label>Gender:</label>
            <select formControlName="gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Genderless">Genderless</option>
                <option value="unknown">Unknown</option>
            </select>
        </div>

        <!-- ... otros campos (type, origin, location, etc.) -->

        <button class="button button--primary" type="button" (click)="onSubmit()">
            {{ isEdit ? 'Update' : 'Create' }}
        </button>
    </form>
</div>